gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

#firebase
android/app/google-services.json
ios/firebase_app_id_file.json
ios/Runner/GoogleServices-Info.plist
lib/firebase_options.dart